@charset "UTF-8";

/* Estilo para Telas */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(168, 168, 168);
}

header h1 {
    text-align: center;
}

menu ul {
    list-style: none;
    background-color: rgb(119, 119, 119);
    color: #fff;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(39, 39, 39);
}

article {
    width: 600px;
    display: block;
    margin: auto;
}